services:
  web:
    build: .
    env_file:
      - .env
    command: >
      sh -c "
      python manage.py collectstatic --noinput &&
      gunicorn Ecom.wsgi:application --bind 0.0.0.0:8000
      "
    ports:
      - "8001:8000"
    volumes:
      - ./staticfiles:/app/staticfiles
      - ./media:/app/media
      - /home/ubuntu/db.sqlite3:/app/db.sqlite3
